body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.contents {
    padding: 40px 15px;
    text-align: center;
}
.contents {
    border: 1px solid red;
}